USE [DMSServer]
GO
/****** Object:  Table [dbo].[tb_chitietdondathang]    Script Date: 3/10/2014 6:41:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_chitietdondathang](
	[chitietdondathang_stt] [int] IDENTITY(1,1) NOT NULL,
	[chitietdondathang_ma_hoa_don] [varchar](100) NULL,
	[chitietdondathang_dong] [int] NULL,
	[chitietdondathang_ma_hang] [varchar](100) NULL,
	[chitietdondathang_ma_vach] [varchar](100) NULL,
	[chitietdondathang_ten_san_pham] [nvarchar](200) NULL,
	[chitietdondathang_don_gia_sau_thue] [float] NULL,
	[chitietdondathang_don_gia_truoc_thue] [float] NULL,
	[chitietdondathang_thue] [float] NULL,
	[chitietdondathang_giam_gia] [float] NULL,
	[chitietdondathang_thanh_tien] [float] NULL,
	[chitietdondathang_ma_kho] [varchar](100) NULL,
	[chitietdondathang_so_luong] [int] NULL,
	[chitietdondathang_don_vi_tinh] [nvarchar](100) NULL,
	[chitietdondathang_ty_gia] [float] NULL,
 CONSTRAINT [PK_tb_chitietdondathang_1] PRIMARY KEY CLUSTERED 
(
	[chitietdondathang_stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_hoadondathang]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_hoadondathang](
	[hoadondathang_stt] [int] IDENTITY(1,1) NOT NULL,
	[hoadondathang_ma_hoa_don] [varchar](100) NOT NULL,
	[hoadondathang_ngay_dat_hang] [datetime] NULL,
	[hoadondathang_ngay_giao_hang_du_kien] [datetime] NULL,
	[hoadondathang_ma_khach_hang] [varchar](100) NOT NULL,
	[hoadondathang_ten_khach_hang] [nvarchar](100) NULL,
	[hoadondathang_dia_chi] [nvarchar](100) NULL,
	[hoadondathang_so_dien_thoai] [nvarchar](50) NULL,
	[hoadondathang_dia_chi_giao_hang] [nvarchar](100) NULL,
	[hoadondathang_hinh_thuc_van_chuyen] [nvarchar](100) NULL,
	[hoadondathang_thue] [float] NULL,
	[hoadondathang_tien_truoc_thue] [float] NULL,
	[hoadondathang_tien_sau_thue] [float] NULL,
	[hoadondathang_giam_gia] [float] NULL,
	[hoadondathang_trang_thai_don_hang] [int] NOT NULL,
	[hoadondathang_ngay_tao_hoa_don] [datetime] NULL,
	[hoadondathang_ngay_sua_hoa_don] [datetime] NULL,
	[hoadondathang_nguoi_tao] [varchar](100) NOT NULL,
	[hoadondathang_nguoi_sua] [varchar](100) NULL,
 CONSTRAINT [PK_tb_hoadondathang] PRIMARY KEY CLUSTERED 
(
	[hoadondathang_ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_khachhang]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_khachhang](
	[khachhang_stt] [int] IDENTITY(1,1) NOT NULL,
	[khachhang_tinh_thanh] [nvarchar](100) NULL,
	[khachhang_tuyen_ban_hang_thu] [nvarchar](100) NULL,
	[khachhang_ma_nv] [varchar](100) NULL,
	[khachhang_x] [nvarchar](100) NULL,
	[khachhang_ma_dt] [varchar](100) NOT NULL,
	[khachhang_doi_tuong] [nvarchar](200) NULL,
	[khachhang_no_dky] [float] NULL,
	[khachhang_co_dky] [float] NULL,
	[khachhang_no_tky] [float] NULL,
	[khachhang_tien_ban] [float] NULL,
	[khachhang_co_tky] [float] NULL,
	[khachhang_ck_gg] [float] NULL,
	[khachhang_nhap_lai] [float] NULL,
	[khachhang_no_cky] [float] NULL,
	[khachhang_co_cky] [float] NULL,
	[khachhang_doanh_thu] [float] NULL,
	[khachhang_ti_le_no_thu] [float] NULL,
	[khachhang_no_toi_da] [float] NULL,
	[khachhang_dai_dien] [nvarchar](100) NULL,
	[khachhang_diachi] [nvarchar](100) NULL,
	[khachhang_dien_thoai] [nvarchar](100) NULL,
	[khachhang_fax] [nvarchar](100) NULL,
	[khachhang_ghi_chu] [nvarchar](200) NULL,
	[khachhang_toa_do_x] [float] NULL,
	[khachhang_toa_do_y] [float] NULL,
 CONSTRAINT [PK_tb_khachhang] PRIMARY KEY CLUSTERED 
(
	[khachhang_ma_dt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_nhacungcap]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_nhacungcap](
	[nhacungcap_stt] [int] IDENTITY(1,1) NOT NULL,
	[nhacungcap_id] [varchar](100) NOT NULL,
	[nhacungcap_ten] [nvarchar](200) NULL,
	[nhacungcap_dia_chi] [nvarchar](100) NULL,
	[nhacungcap_dien_thoai] [nvarchar](100) NULL,
	[nhacungcap_fax] [nvarchar](100) NULL,
	[nhacungcap_ghi_chu] [nvarchar](200) NULL,
 CONSTRAINT [PK_tb_nhacungcap] PRIMARY KEY CLUSTERED 
(
	[nhacungcap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_nhanvien]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_nhanvien](
	[nhanvien_stt] [int] IDENTITY(1,1) NOT NULL,
	[nhanvien_ma_nhan_vien] [varchar](100) NOT NULL,
	[nhanvien_mat_khau] [varchar](100) NULL,
	[nhanvien_ho_ten] [nvarchar](100) NULL,
	[nhanvien_dia_chi] [nvarchar](100) NULL,
	[nhanvien_chuc_vu] [nvarchar](100) NULL,
	[nhanvien_so_dien_thoai] [nvarchar](100) NULL,
	[nhanvien_ngay_gia_nhap] [date] NULL,
	[nhanvien_nguoi_quan_ly] [varchar](100) NULL,
	[nhanvien_trang_thai] [bit] NOT NULL,
 CONSTRAINT [PK_tb_nhanvien] PRIMARY KEY CLUSTERED 
(
	[nhanvien_ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_quanlyduongdi]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_quanlyduongdi](
	[quanlyduongdi_stt] [int] IDENTITY(1,1) NOT NULL,
	[quanlyduongdi_ma_nhan_vien] [varchar](100) NOT NULL,
	[quanlyduongdi_ma_khach_hang] [varchar](100) NOT NULL,
	[quanlyduongdi_thoi_gian] [datetime] NOT NULL,
	[quanlyduongdi_vi_do] [float] NOT NULL,
	[quanlyduongdi_kinh_do] [float] NOT NULL,
	[quanlyduongdi_ghi_chu] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_quanlyduongdi] PRIMARY KEY CLUSTERED 
(
	[quanlyduongdi_stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_quanlygiamdoc]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_quanlygiamdoc](
	[quanlygiamdoc_id] [int] NOT NULL,
	[quanlygiamdoc_tong_giam_doc] [varchar](100) NOT NULL,
	[quanlygiamdoc_giamdoc] [varchar](100) NOT NULL,
	[quanlygiamdoc_ghi_chu] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_sanpham]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_sanpham](
	[sanpham_stt] [int] IDENTITY(1,1) NOT NULL,
	[sanpham_ma_vach] [varchar](100) NOT NULL,
	[sanpham_ma_san_pham] [varchar](100) NOT NULL,
	[sanpham_ten_hang_hoa] [nvarchar](200) NULL,
	[sanpham_thuong_hieu] [nvarchar](100) NULL,
	[sanpham_xuat_xu] [nvarchar](100) NULL,
	[sanpham_quy_cach_packing] [nvarchar](100) NULL,
	[sanpham_dinh_luong] [nvarchar](100) NULL,
	[sanpham_thue] [float] NULL,
	[sanpham_gia_nhap] [float] NULL,
	[sanpham_gia_ban] [float] NULL,
	[sanpham_nha_cung_cap] [varchar](100) NULL,
	[sanpham_mo_ta] [nvarchar](200) NULL,
	[sanpham_anh_san_pham] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_sanpham] PRIMARY KEY CLUSTERED 
(
	[sanpham_ma_vach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_schedule]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_schedule](
	[schedule_stt] [int] IDENTITY(1,1) NOT NULL,
	[schedule_ma_nv] [varchar](100) NOT NULL,
	[schedule_ma_khach_hang] [varchar](100) NOT NULL,
	[schedule_date] [datetime] NOT NULL,
	[schedule_trang_thai] [bit] NOT NULL,
 CONSTRAINT [PK_tb_schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 3/10/2014 6:41:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_user](
	[user_stt] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](100) NOT NULL,
	[user_chuc_danh] [nvarchar](100) NULL,
	[user_ho_ten] [nvarchar](100) NULL,
	[user_email] [nvarchar](100) NULL,
	[user_so_dien_thoai] [nvarchar](100) NULL,
	[user_dia_chi] [nvarchar](100) NULL,
	[user_ghi_chu] [nvarchar](100) NULL,
	[user_ngay_tham_gia] [date] NULL,
	[user_permission] [int] NOT NULL,
	[user_status] [bit] NOT NULL,
 CONSTRAINT [PK_tb_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_chitietdondathang] ON 

SET IDENTITY_INSERT [dbo].[tb_chitietdondathang] OFF
SET IDENTITY_INSERT [dbo].[tb_hoadondathang] ON 

SET IDENTITY_INSERT [dbo].[tb_hoadondathang] OFF
SET IDENTITY_INSERT [dbo].[tb_khachhang] ON 

GO
SET IDENTITY_INSERT [dbo].[tb_khachhang] OFF
SET IDENTITY_INSERT [dbo].[tb_nhacungcap] ON 

INSERT [dbo].[tb_nhacungcap] ([nhacungcap_stt], [nhacungcap_id], [nhacungcap_ten], [nhacungcap_dia_chi], [nhacungcap_dien_thoai], [nhacungcap_fax], [nhacungcap_ghi_chu]) VALUES (4, N'0', N'0', NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_nhacungcap] ([nhacungcap_stt], [nhacungcap_id], [nhacungcap_ten], [nhacungcap_dia_chi], [nhacungcap_dien_thoai], [nhacungcap_fax], [nhacungcap_ghi_chu]) VALUES (3, N'CCN3', N'nha cung cap 3', NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_nhacungcap] ([nhacungcap_stt], [nhacungcap_id], [nhacungcap_ten], [nhacungcap_dia_chi], [nhacungcap_dien_thoai], [nhacungcap_fax], [nhacungcap_ghi_chu]) VALUES (1, N'NCC1', N'nha cung cap 1', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_nhacungcap] OFF
SET IDENTITY_INSERT [dbo].[tb_nhanvien] ON 

INSERT [dbo].[tb_nhanvien] ([nhanvien_stt], [nhanvien_ma_nhan_vien], [nhanvien_mat_khau], [nhanvien_ho_ten], [nhanvien_dia_chi], [nhanvien_chuc_vu], [nhanvien_so_dien_thoai], [nhanvien_ngay_gia_nhap], [nhanvien_nguoi_quan_ly], [nhanvien_trang_thai]) VALUES (20, N'0', N'0', NULL, NULL, NULL, NULL, NULL, N'0', 1)
INSERT [dbo].[tb_nhanvien] ([nhanvien_stt], [nhanvien_ma_nhan_vien], [nhanvien_mat_khau], [nhanvien_ho_ten], [nhanvien_dia_chi], [nhanvien_chuc_vu], [nhanvien_so_dien_thoai], [nhanvien_ngay_gia_nhap], [nhanvien_nguoi_quan_ly], [nhanvien_trang_thai]) VALUES (3, N'DVH', N'123456', N'Gia cát khổng minh', N'Ngọa Long', N'quân sư', N'', NULL, N'kachiusa', 1)
INSERT [dbo].[tb_nhanvien] ([nhanvien_stt], [nhanvien_ma_nhan_vien], [nhanvien_mat_khau], [nhanvien_ho_ten], [nhanvien_dia_chi], [nhanvien_chuc_vu], [nhanvien_so_dien_thoai], [nhanvien_ngay_gia_nhap], [nhanvien_nguoi_quan_ly], [nhanvien_trang_thai]) VALUES (7, N'eufood.nguyentuanlong', N'123456', N'Nguyễn Tuấn Long', NULL, NULL, NULL, NULL, N'kachiusa', 1)
SET IDENTITY_INSERT [dbo].[tb_nhanvien] OFF
SET IDENTITY_INSERT [dbo].[tb_quanlyduongdi] ON 

INSERT [dbo].[tb_quanlyduongdi] ([quanlyduongdi_stt], [quanlyduongdi_ma_nhan_vien], [quanlyduongdi_ma_khach_hang], [quanlyduongdi_thoi_gian], [quanlyduongdi_vi_do], [quanlyduongdi_kinh_do], [quanlyduongdi_ghi_chu]) VALUES (42, N'NTT', N'1PTK', CAST(0x0000A298004308F0 AS DateTime), 21.0386384, 105.7806179, NULL)
INSERT [dbo].[tb_quanlyduongdi] ([quanlyduongdi_stt], [quanlyduongdi_ma_nhan_vien], [quanlyduongdi_ma_khach_hang], [quanlyduongdi_thoi_gian], [quanlyduongdi_vi_do], [quanlyduongdi_kinh_do], [quanlyduongdi_ghi_chu]) VALUES (43, N'NTT', N'1PTK', CAST(0x0000A298004308F0 AS DateTime), 21.0486389, 105.7806179, NULL)
INSERT [dbo].[tb_quanlyduongdi] ([quanlyduongdi_stt], [quanlyduongdi_ma_nhan_vien], [quanlyduongdi_ma_khach_hang], [quanlyduongdi_thoi_gian], [quanlyduongdi_vi_do], [quanlyduongdi_kinh_do], [quanlyduongdi_ghi_chu]) VALUES (48, N'OCC', N'44PDL', CAST(0x0000A298004308F0 AS DateTime), 21.0586398, 105.780619, NULL)
SET IDENTITY_INSERT [dbo].[tb_quanlyduongdi] OFF
SET IDENTITY_INSERT [dbo].[tb_sanpham] ON 

INSERT [dbo].[tb_sanpham] ([sanpham_stt], [sanpham_ma_vach], [sanpham_ma_san_pham], [sanpham_ten_hang_hoa], [sanpham_thuong_hieu], [sanpham_xuat_xu], [sanpham_quy_cach_packing], [sanpham_dinh_luong], [sanpham_thue], [sanpham_gia_nhap], [sanpham_gia_ban], [sanpham_nha_cung_cap], [sanpham_mo_ta], [sanpham_anh_san_pham]) VALUES (1457, N'0.0', N'0.0', N'sản phẩm 23289', N'', N'CÔNG TY CP XNK EUFOOD VIỆT NAM ', N'0.0', N'', NULL, NULL, NULL, N'0', N'', N'2014-03-04-CAM00100.png')
INSERT [dbo].[tb_sanpham] ([sanpham_stt], [sanpham_ma_vach], [sanpham_ma_san_pham], [sanpham_ten_hang_hoa], [sanpham_thuong_hieu], [sanpham_xuat_xu], [sanpham_quy_cach_packing], [sanpham_dinh_luong], [sanpham_thue], [sanpham_gia_nhap], [sanpham_gia_ban], [sanpham_nha_cung_cap], [sanpham_mo_ta], [sanpham_anh_san_pham]) VALUES (1632, N'004', N'004', N'', N'', N'', N'', N'', NULL, NULL, NULL, N'0', N'', N'')
INSERT [dbo].[tb_sanpham] ([sanpham_stt], [sanpham_ma_vach], [sanpham_ma_san_pham], [sanpham_ten_hang_hoa], [sanpham_thuong_hieu], [sanpham_xuat_xu], [sanpham_quy_cach_packing], [sanpham_dinh_luong], [sanpham_thue], [sanpham_gia_nhap], [sanpham_gia_ban], [sanpham_nha_cung_cap], [sanpham_mo_ta], [sanpham_anh_san_pham]) VALUES (1634, N'005', N'006', N'cafe2', N'hp', N'', N'', N'', NULL, NULL, NULL, N'0', N'', N'2014-03-05-Desert.jpg')
GO
SET IDENTITY_INSERT [dbo].[tb_sanpham] OFF
SET IDENTITY_INSERT [dbo].[tb_schedule] ON 

INSERT [dbo].[tb_schedule] ([schedule_stt], [schedule_ma_nv], [schedule_ma_khach_hang], [schedule_date], [schedule_trang_thai]) VALUES (31, N'NTT', N'41PDP', CAST(0x0000A2D100278D00 AS DateTime), 0)
INSERT [dbo].[tb_schedule] ([schedule_stt], [schedule_ma_nv], [schedule_ma_khach_hang], [schedule_date], [schedule_trang_thai]) VALUES (32, N'NTT', N'21BL', CAST(0x0000A2D100488280 AS DateTime), 0)
INSERT [dbo].[tb_schedule] ([schedule_stt], [schedule_ma_nv], [schedule_ma_khach_hang], [schedule_date], [schedule_trang_thai]) VALUES (33, N'NTT', N'1PTK', CAST(0x0000A2D100488280 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tb_schedule] OFF
SET IDENTITY_INSERT [dbo].[tb_user] ON 

INSERT [dbo].[tb_user] ([user_stt], [user_id], [user_chuc_danh], [user_ho_ten], [user_email], [user_so_dien_thoai], [user_dia_chi], [user_ghi_chu], [user_ngay_tham_gia], [user_permission], [user_status]) VALUES (4, N'0', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2, 1)
INSERT [dbo].[tb_user] ([user_stt], [user_id], [user_chuc_danh], [user_ho_ten], [user_email], [user_so_dien_thoai], [user_dia_chi], [user_ghi_chu], [user_ngay_tham_gia], [user_permission], [user_status]) VALUES (2, N'doremi', N'Giám đốc kinh doanh', N'Hoàng thu thủy', NULL, NULL, NULL, NULL, NULL, 2, 1)
INSERT [dbo].[tb_user] ([user_stt], [user_id], [user_chuc_danh], [user_ho_ten], [user_email], [user_so_dien_thoai], [user_dia_chi], [user_ghi_chu], [user_ngay_tham_gia], [user_permission], [user_status]) VALUES (1, N'HP', N'Tổng giám đốc', N'Nguyễn Hoàng Phượng', NULL, NULL, NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[tb_user] OFF
ALTER TABLE [dbo].[tb_chitietdondathang] ADD  CONSTRAINT [DF_tb_chitietdondathang_chitietdondathang_don_gia_sau_thue]  DEFAULT (NULL) FOR [chitietdondathang_don_gia_sau_thue]
GO
ALTER TABLE [dbo].[tb_chitietdondathang] ADD  CONSTRAINT [DF_tb_chitietdondathang_chitietdondathang_don_gia_truoc_thue]  DEFAULT (NULL) FOR [chitietdondathang_don_gia_truoc_thue]
GO
ALTER TABLE [dbo].[tb_chitietdondathang] ADD  CONSTRAINT [DF_tb_chitietdondathang_chitietdondathang_thue]  DEFAULT (NULL) FOR [chitietdondathang_thue]
GO
ALTER TABLE [dbo].[tb_chitietdondathang] ADD  CONSTRAINT [DF_tb_chitietdondathang_chitietdondathang_giam_gia]  DEFAULT (NULL) FOR [chitietdondathang_giam_gia]
GO
ALTER TABLE [dbo].[tb_chitietdondathang] ADD  CONSTRAINT [DF_tb_chitietdondathang_chitietdondathang_thanh_tien]  DEFAULT (NULL) FOR [chitietdondathang_thanh_tien]
GO
ALTER TABLE [dbo].[tb_chitietdondathang] ADD  CONSTRAINT [DF_tb_chitietdondathang_chitietdondathang_ty_gia]  DEFAULT (NULL) FOR [chitietdondathang_ty_gia]
GO
ALTER TABLE [dbo].[tb_hoadondathang] ADD  CONSTRAINT [DF_tb_hoadondathang_hoadondathang_thue]  DEFAULT (NULL) FOR [hoadondathang_thue]
GO
ALTER TABLE [dbo].[tb_hoadondathang] ADD  CONSTRAINT [DF_tb_hoadondathang_hoadondathang_tien_truoc_thue]  DEFAULT (NULL) FOR [hoadondathang_tien_truoc_thue]
GO
ALTER TABLE [dbo].[tb_hoadondathang] ADD  CONSTRAINT [DF_tb_hoadondathang_hoadondathang_tien_sau_thue]  DEFAULT (NULL) FOR [hoadondathang_tien_sau_thue]
GO
ALTER TABLE [dbo].[tb_hoadondathang] ADD  CONSTRAINT [DF_tb_hoadondathang_hoadondathang_giam_gia]  DEFAULT (NULL) FOR [hoadondathang_giam_gia]
GO
ALTER TABLE [dbo].[tb_hoadondathang] ADD  CONSTRAINT [DF_tb_hoadondathang_hoadondathang_trang_thai_don_hang]  DEFAULT (NULL) FOR [hoadondathang_trang_thai_don_hang]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_no_dky]  DEFAULT (NULL) FOR [khachhang_no_dky]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_co_dky]  DEFAULT (NULL) FOR [khachhang_co_dky]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_no_tky]  DEFAULT (NULL) FOR [khachhang_no_tky]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_tien_ban]  DEFAULT (NULL) FOR [khachhang_tien_ban]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_co_tky]  DEFAULT (NULL) FOR [khachhang_co_tky]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_ck_gg]  DEFAULT (NULL) FOR [khachhang_ck_gg]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_nhap_lai]  DEFAULT (NULL) FOR [khachhang_nhap_lai]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_no_cky]  DEFAULT (NULL) FOR [khachhang_no_cky]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_co_cky]  DEFAULT (NULL) FOR [khachhang_co_cky]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_doanh_thu]  DEFAULT (NULL) FOR [khachhang_doanh_thu]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_ti_le_no_thu]  DEFAULT (NULL) FOR [khachhang_ti_le_no_thu]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_no_toi_da]  DEFAULT (NULL) FOR [khachhang_no_toi_da]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_toa_do_x]  DEFAULT (NULL) FOR [khachhang_toa_do_x]
GO
ALTER TABLE [dbo].[tb_khachhang] ADD  CONSTRAINT [DF_tb_khachhang_khachhang_toa_do_y]  DEFAULT (NULL) FOR [khachhang_toa_do_y]
GO
ALTER TABLE [dbo].[tb_nhanvien] ADD  CONSTRAINT [DF_tb_nhanvien_nhanvien_mat_khau]  DEFAULT ((123456)) FOR [nhanvien_mat_khau]
GO
ALTER TABLE [dbo].[tb_nhanvien] ADD  CONSTRAINT [DF_tb_nhanvien_nhanvien_nguoi_quan_ly]  DEFAULT ('kachiusa') FOR [nhanvien_nguoi_quan_ly]
GO
ALTER TABLE [dbo].[tb_nhanvien] ADD  CONSTRAINT [DF_tb_nhanvien_nhanvien_trang_thai]  DEFAULT ((1)) FOR [nhanvien_trang_thai]
GO
ALTER TABLE [dbo].[tb_quanlyduongdi] ADD  CONSTRAINT [DF_tb_quanlyduongdi_quanlyduongdi_vi_do]  DEFAULT (NULL) FOR [quanlyduongdi_vi_do]
GO
ALTER TABLE [dbo].[tb_quanlyduongdi] ADD  CONSTRAINT [DF_tb_quanlyduongdi_quanlyduongdi_kinh_do]  DEFAULT (NULL) FOR [quanlyduongdi_kinh_do]
GO
ALTER TABLE [dbo].[tb_sanpham] ADD  CONSTRAINT [DF_tb_sanpham_sanpham_thue]  DEFAULT (NULL) FOR [sanpham_thue]
GO
ALTER TABLE [dbo].[tb_sanpham] ADD  CONSTRAINT [DF_tb_sanpham_sanpham_gia_nhap]  DEFAULT (NULL) FOR [sanpham_gia_nhap]
GO
ALTER TABLE [dbo].[tb_sanpham] ADD  CONSTRAINT [DF_tb_sanpham_sanpham_gia_ban]  DEFAULT (NULL) FOR [sanpham_gia_ban]
GO
ALTER TABLE [dbo].[tb_sanpham] ADD  CONSTRAINT [DF_tb_sanpham_sanpham_nha_cung_cap]  DEFAULT ((0)) FOR [sanpham_nha_cung_cap]
GO
ALTER TABLE [dbo].[tb_schedule] ADD  CONSTRAINT [DF_tb_schedule_schedule_trang_thai]  DEFAULT ((0)) FOR [schedule_trang_thai]
GO
ALTER TABLE [dbo].[tb_user] ADD  CONSTRAINT [DF_tb_user_user_permission]  DEFAULT ((2)) FOR [user_permission]
GO
ALTER TABLE [dbo].[tb_user] ADD  CONSTRAINT [DF_tb_user_user_status]  DEFAULT ((1)) FOR [user_status]
GO
ALTER TABLE [dbo].[tb_chitietdondathang]  WITH CHECK ADD  CONSTRAINT [FK_tb_chitietdondathang_tb_hoadondathang] FOREIGN KEY([chitietdondathang_ma_hoa_don])
REFERENCES [dbo].[tb_hoadondathang] ([hoadondathang_ma_hoa_don])
GO
ALTER TABLE [dbo].[tb_chitietdondathang] CHECK CONSTRAINT [FK_tb_chitietdondathang_tb_hoadondathang]
GO
ALTER TABLE [dbo].[tb_chitietdondathang]  WITH CHECK ADD  CONSTRAINT [FK_tb_chitietdondathang_tb_sanpham] FOREIGN KEY([chitietdondathang_ma_vach])
REFERENCES [dbo].[tb_sanpham] ([sanpham_ma_vach])
GO
ALTER TABLE [dbo].[tb_chitietdondathang] CHECK CONSTRAINT [FK_tb_chitietdondathang_tb_sanpham]
GO
ALTER TABLE [dbo].[tb_hoadondathang]  WITH CHECK ADD  CONSTRAINT [FK_tb_hoadondathang_tb_khachhang_id_kh] FOREIGN KEY([hoadondathang_ma_khach_hang])
REFERENCES [dbo].[tb_khachhang] ([khachhang_ma_dt])
GO
ALTER TABLE [dbo].[tb_hoadondathang] CHECK CONSTRAINT [FK_tb_hoadondathang_tb_khachhang_id_kh]
GO
ALTER TABLE [dbo].[tb_hoadondathang]  WITH CHECK ADD  CONSTRAINT [FK_tb_hoadondathang_tb_nhanvien] FOREIGN KEY([hoadondathang_nguoi_tao])
REFERENCES [dbo].[tb_nhanvien] ([nhanvien_ma_nhan_vien])
GO
ALTER TABLE [dbo].[tb_hoadondathang] CHECK CONSTRAINT [FK_tb_hoadondathang_tb_nhanvien]
GO
ALTER TABLE [dbo].[tb_hoadondathang]  WITH CHECK ADD  CONSTRAINT [FK_tb_hoadondathang_tb_nhanvien1] FOREIGN KEY([hoadondathang_nguoi_sua])
REFERENCES [dbo].[tb_nhanvien] ([nhanvien_ma_nhan_vien])
GO
ALTER TABLE [dbo].[tb_hoadondathang] CHECK CONSTRAINT [FK_tb_hoadondathang_tb_nhanvien1]
GO
ALTER TABLE [dbo].[tb_khachhang]  WITH CHECK ADD  CONSTRAINT [FK_tb_khachhang_tb_nhan_vien_2] FOREIGN KEY([khachhang_ma_nv])
REFERENCES [dbo].[tb_nhanvien] ([nhanvien_ma_nhan_vien])
GO
ALTER TABLE [dbo].[tb_khachhang] CHECK CONSTRAINT [FK_tb_khachhang_tb_nhan_vien_2]
GO
ALTER TABLE [dbo].[tb_nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_tb_nhanvien_tb_Quan_ly] FOREIGN KEY([nhanvien_nguoi_quan_ly])
REFERENCES [dbo].[tb_user] ([user_id])
GO
ALTER TABLE [dbo].[tb_nhanvien] CHECK CONSTRAINT [FK_tb_nhanvien_tb_Quan_ly]
GO
ALTER TABLE [dbo].[tb_quanlyduongdi]  WITH CHECK ADD  CONSTRAINT [FK_tb_quanlyduongdi_tb_ma_hach_hang] FOREIGN KEY([quanlyduongdi_ma_khach_hang])
REFERENCES [dbo].[tb_khachhang] ([khachhang_ma_dt])
GO
ALTER TABLE [dbo].[tb_quanlyduongdi] CHECK CONSTRAINT [FK_tb_quanlyduongdi_tb_ma_hach_hang]
GO
ALTER TABLE [dbo].[tb_quanlygiamdoc]  WITH CHECK ADD  CONSTRAINT [FK_tb_quanlygiamdoc_tb_user_ma_giam_doc] FOREIGN KEY([quanlygiamdoc_giamdoc])
REFERENCES [dbo].[tb_user] ([user_id])
GO
ALTER TABLE [dbo].[tb_quanlygiamdoc] CHECK CONSTRAINT [FK_tb_quanlygiamdoc_tb_user_ma_giam_doc]
GO
ALTER TABLE [dbo].[tb_quanlygiamdoc]  WITH CHECK ADD  CONSTRAINT [FK_tb_quanlygiamdoc_tb_user_ma_tong_giam_doc] FOREIGN KEY([quanlygiamdoc_tong_giam_doc])
REFERENCES [dbo].[tb_user] ([user_id])
GO
ALTER TABLE [dbo].[tb_quanlygiamdoc] CHECK CONSTRAINT [FK_tb_quanlygiamdoc_tb_user_ma_tong_giam_doc]
GO
ALTER TABLE [dbo].[tb_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tb_sanpham_tb_nha_cung_cap] FOREIGN KEY([sanpham_nha_cung_cap])
REFERENCES [dbo].[tb_nhacungcap] ([nhacungcap_id])
GO
ALTER TABLE [dbo].[tb_sanpham] CHECK CONSTRAINT [FK_tb_sanpham_tb_nha_cung_cap]
GO
ALTER TABLE [dbo].[tb_schedule]  WITH CHECK ADD  CONSTRAINT [FK_tb_schedule_makh_khachhang] FOREIGN KEY([schedule_ma_khach_hang])
REFERENCES [dbo].[tb_khachhang] ([khachhang_ma_dt])
GO
ALTER TABLE [dbo].[tb_schedule] CHECK CONSTRAINT [FK_tb_schedule_makh_khachhang]
GO
ALTER TABLE [dbo].[tb_schedule]  WITH CHECK ADD  CONSTRAINT [FK_tb_schedule_manv_nhanvien] FOREIGN KEY([schedule_ma_nv])
REFERENCES [dbo].[tb_nhanvien] ([nhanvien_ma_nhan_vien])
GO
ALTER TABLE [dbo].[tb_schedule] CHECK CONSTRAINT [FK_tb_schedule_manv_nhanvien]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'dang dat hang, da duyet, hoan thanh, huy' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_hoadondathang', @level2type=N'COLUMN',@level2name=N'hoadondathang_trang_thai_don_hang'
GO
